@model IEnumerable<TotalClean.Models.Admin>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Title Page -->  
    <title>Login</title>
 
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/estilo.css" />

    
</head>
<body>
    <div id="container">
        <form asp-controller="Admin" asp-action="Conectado">
            <!-- Password -->
            <label for="username">Password:</label>
            <input name="contraseña" type="password">
            <div id="lower">
                
                <!-- Submit Button -->
                <input type="submit" value="Login">
            </div>
        </form>       
    </div>
</body>
</html>