

@model IEnumerable<TotalClean.Models.Admin>

    

@foreach (var item in Model) {
        
               <h1> @Html.DisplayFor(modelItem => item.Nombre) </h1>
            
}
<br><br><br>
@foreach (var item in Model) {
        
               
            
    <h3> Apellidos: @Html.DisplayFor(modelItem => item.Apellidos) </h3>
}
@foreach (var item in Model) {
        
               
            
    <a class="btn btn-primary" href="Usuarios">Usuarios</a>
}
<br><br><br>

