@model IEnumerable<TotalClean.Models.Usuario>


@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.User)          
}
<br><br><br>
@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.Nombre)          
}
@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.Apellidos)          
}
<br><br><br><br><br><br><br><br>
@foreach (var item in Model) {
    <a class="btn btn-primary" href="RegistrarServicio">SOLICITAR SERVICIO</a>       
}
@foreach (var item in Model) {
    <a class="btn btn-primary" href="ConfirmarUsuarioO">VER SERVICIOS SOLICITADOS PARA OFICINA</a>     
}
@foreach (var item in Model) {
    <a class="btn btn-primary" href="ConfirmarUsuarioH">VER SERVICIOS SOLICITADOS PARA HOGAR</a>     
}
<br><br><br><br><br><br><br><br>