@model IEnumerable<TotalClean.Models.Oficina>
<form asp-controller="Oficina" asp-action="Oficinas">
						Confirmar Usuario <input type="text "name="usuario" class="form-control"aria-describedby="sizing-addon1" required>
<input class="btn btn-success" type="submit" value="Confirmar" />
					
					
					
				</form>