@model IEnumerable<TotalClean.Models.Hogar>


<form asp-controller="Hogar" asp-action="Oficinas">
	Confirmar Usuario <input type="text "name="usuario" class="form-control"aria-describedby="sizing-addon1" required>
	<input class="w3-button w3-light-green" type="submit" value="Confirmar" />
</form>