
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br><br><br><br><br><br><br><br>
<center>
    <a class="w3-button w3-light-green" href="RegistrarUsuario">NO TENGO UNA CUENTA</a>
    <a class="w3-button w3-light-green"  href="Conectar">TENGO UNA CUENTA</a>
</center>
<br><br><br><br><br><br><br><br>